.btn {
  margin-right: 10px;
  background-color: #60b8f3;
  transition: all 0.3s ease 0s;
  padding: 10px;
  border-radius: 10px;
}
.btn:hover {
  background-color: #1476b8;
}
.userInfo {
  margin: 10px;
}
.img {
  border-radius: 5px;
  margin-bottom: 10px;
}
.buttons {
  margin-bottom: 10px;
}
