.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  color: #fff;
  padding: 10px;
}
.dialogsItems {
}
.messages {
  margin-bottom: 20px;
}
.dialog {
  align-items: center;
  margin-right: 10px;
}
.dialog img {
  width: 50px;
  border-radius: 50%;
}
.formMessage button {
  background-color: rgb(24, 224, 228);
  padding: 10px;
}
.table {
  gap: 10px;
  border: #fff solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 30px;
  text-align: center;
}
.tableData {
  display: grid;
  grid-template-columns: auto;
  border: #fff solid 1px;
}
.position {
  margin-left: 10px;
}
.name {
  background-color: #051c2a;
  padding: 5px;
}
.points {
  margin-right: 10px;
}
.counter {
}
.btn {
  margin: 15px;
}
